<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jumble.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="Setting1" value="May 5, 2014"/>
        <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
    <userSettings>
        <Jumble.Properties.Settings>
            <setting name="DB_HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>dictionary</value>
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value>test_user</value>
            </setting>
            <setting name="DB_PASS" serializeAs="String">
                <value>12345670</value>
            </setting>
        </Jumble.Properties.Settings>
    </userSettings>
</configuration>